.header{
    box-shadow: 0px 4px 3px lightgray;
    margin-bottom: 10px;
    padding: 1px;
    position: relative
  }
  .header-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    @media (max-width: $breakpoint-tablet) {
      width:96%
    }
    .header-logo{
      @media (max-width: $breakpoint-mobile) {
        width:150px;
        height: auto;
      }
    }
    .header-link{
      list-style: none;
      display: flex;
      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
      
      a{
        margin: 34px 50px 0px 5px;
        text-decoration: none;
        color: #000;
        font-weight: 600;
      }
    }
    .header-logout{
      position:absolute;
      right:158px;
      font-weight: 300;
      color:#000;
      top: 15px;
      background: transparent;
      border: none;
      @media (min-width: $breakpoint-mobile)and(max-width: $breakpoint-tablet) {
        right:9px
      }
      @media (max-width:$breakpoint-mobile) {
        display: none;
      }

    }
    .header-link-login{
      list-style: none;
      display: flex;
      position:absolute;
      right: 158px;
      top:-1px;
      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
      @media (min-width: $breakpoint-mobile)and(max-width: $breakpoint-tablet) {
        right:9px
      }

      
      a{
        margin: 0 5px;
        text-decoration: none;
        color: #000;
        font-weight: 300;
      }
    }
    
  }
  