.carousel{
    box-shadow: $boxShadow1;
    .thumbs-wrapper{
      display: none;
    }
    .carousel-status{
      display: none
    }
  }
  .carousel.carousel-slider{
    @media (max-width: $breakpoint-mobile) {
      height: 170px;
    }
  }
  .carousel{
    img{
      @media (max-width: $breakpoint-mobile) {
        height: 140px;
      }
    }
  }